.QuestionHeader-title {
    font-size: 12px !important;
    font-weight: 300 !important;
}

.Question-sideColumn {
    display: none !important;
}

title {
    display: none !important;
}

.GlobalSideBar {
    display: none !important;
}

.LoadingBar {
    display: none !important;
}

#Rightbar {
    display: none !important;
}