.QuestionHeader-title {
    display: none !important;
}

.Question-sideColumn {
    display: none !important;
}

title {
    display: none !important;
}

.GlobalSideBar {
    display: none !important;
}